force-app/main/default/flows/Order_After_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Invoke_Order_Apex_Action</name>
        <label>Invoke Order Apex Action</label>
        <locationX>315</locationX>
        <locationY>477</locationY>
        <actionName>OrderInvocableAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>NPS_response_check</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>NPS_Response</assignToReference>
            <name>apiResponse</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ErrorMessageFromAction</assignToReference>
            <name>ErrorMessage</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>NPS_response_check</name>
        <label>NPS response check</label>
        <locationX>537</locationX>
        <locationY>596</locationY>
        <defaultConnectorLabel>Log Error</defaultConnectorLabel>
        <rules>
            <name>NPS_Response_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NPS_Response</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SUCCESS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_oder_bill_email_sent</targetReference>
            </connector>
            <label>NPS Response Success</label>
        </rules>
    </decisions>
    <description>Send fulfilled order email bill to contact</description>
    <environments>Default</environments>
    <interviewLabel>Order After Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order After Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_oder_bill_email_sent</name>
        <label>Update oder bill email sent</label>
        <locationX>834</locationX>
        <locationY>595</locationY>
        <inputAssignments>
            <field>Bill_Email_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fulfilled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Bill_Email_Sent__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Invoke_Order_Apex_Action</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <scheduledPaths>
            <name>NPS_API_Scheduled_path</name>
            <label>NPS API Scheduled path</label>
            <maxBatchSize>30</maxBatchSize>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ErrorMessageFromAction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NPS_Response</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
